@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Galano Grotesque";
    src: url("/fonts/galanogrotesque-regular.otf") format("opentype");
    font-style: regular;
    font-display: swap;
}

@font-face {
    font-family: "Galano Grotesque SemiBold";
    src: url("/fonts/galanogrotesque-semibold.otf") format("opentype");
    font-style: regular;
    font-display: swap;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Galano Grotesque";
    width: 100%;
    background-color: #FAFAFA;
}

body::-webkit-scrollbar {
    display: none;
}
